*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body{
	background-color:#004331; /*#005a42*/
	height: 100vh;
	background-image: linear-gradient(to left,#004331,#004331,#2dbe60);
	
}
/*START OF THE LOGIN FORM*/
.image img{
	display: block;
	margin: auto;
	margin-top: 30px;
}
.card{
	background-color: #f4f5f5;
	width: 30%;
	border-radius: 5px;
	position: absolute;
	top:15%;
	left: 35%;
	margin-top: 20px;
	/*display: block;
	margin: auto;
	height: 450px;
	margin-top:9%; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
form{
	text-align: center;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input[type=text]{
	padding: 12px;
	width: 70%;
	margin-bottom: 10px;
	outline: none;
	border-radius: 5px;
	border-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	

}
input[type=password]{
	padding: 12px;
	width: 70%;
	margin-bottom: 10px;
	outline: none;
	border-radius: 5px;
	border-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=submit]{
	padding: 12px;
	width: 70%;
	background-color:#2dbe60;
	color: #fff; 
	margin-bottom: 10px;
	outline: none;
	border-radius: 5px;
	border-style: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card::after{
    content: " ";
    position: absolute;
    top: 43%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -11px;
    border-width: 8px;
    border-style: solid;
    border-color: #f9dc1f transparent transparent transparent;
}
input[type=submit]:hover{
	background-color:#005a42;
	transition: 0,5s ease-in; 
}
input[type=password]:focus{
	border-left:3px solid #004331;
}
input[type=text]:focus{
	border-left:3px solid #004331;
}
p{
	text-align: center;
	color: #333;
	margin-bottom: 20px;
	font-size: 15px;
}
a{
	color: #333;
	font-size: 15px;
	text-decoration: underline;
}
/*END OF THE LOGIN FORM*/

